<div class="file-upload">
    <input
        type="file"
        name="userpick"
        class="file-upload__input"
        id="file-input"
    >

    <label
        class="file-upload__label"
        id="file-trigger">
    </label>

    <span
        class="file-upload__result"
        id="file-result"
    >
    </span>
</div>