.sidebar {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

    border-right: 1px solid var(--sidebarBorderColor);
    border-left: 1px solid var(--sidebarBorderColor);

    background-color: var(--sidebarBg);
}

.sidebar__link {
    display: grid;
    place-content: center;

    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;

    height: 100%;

    transition: background-color var(--commonDuration);
}

.sidebar__link:hover {
    background-color: var(--sidebarLinkBgHover);
}

.sidebar__link-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;

    border-radius: 50%;
    background-color: var(--sidebarLinkWrapBg);
    color: var(--sidebarLinkWrapColor);
}